.cart__dropdown_menu-flex {
  margin-top: 1rem;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  div {
    font-size: 23px;
    font-weight: 700;

    p {
      max-width: 125px;
      margin: 0;
    }

    .cart__dropdown_menu-textBlack {
      color: var(--color-black);
    }
    .cart__dropdown_menu-textGrey {
      margin-top: 0.5rem;
      color: var(--color-grey);
    }
  }

  img {
    object-fit: cover;
    width: 190px;
    height: 120px;
  }
}
