.App {
  margin: 0 5rem;
}

.p-bold {
  font-weight: 700;
  font-size: var(--h3-size) !important;
  color: var(--color-grey);
}

.p-price {
  font-size: 29px;
  color: var(--color-grey);
}

@media screen and (max-width: 768px) {
  .App {
    margin: 0;
  }
}
